:root {
    /* =========================
       FUNDO
    ========================= */

    --fundo: #D0D0CE;
    
    /* Escurece a textura sem esconder ela */
    --fundo-overlay: rgba(25, 25, 25, 0.28);


    /* =========================
       DIVS / CARDS
    ========================= */

    --div: #3A3A3A;
    --div-secundaria: #4A4A4A;
    --div-hover: #525252;


    /* =========================
       TEXTOS
    ========================= */

    --texto-principal: #111111;
    --texto-secundario: #D6D6D6;
    --texto-claro: #F2F2F2;


    /* =========================
       COR DE DESTAQUE
    ========================= */

    --vermelho: #3d0909;
    --vermelho-hover: #951515;


    /* =========================
       BORDAS
    ========================= */

    --borda: #e2d7d7;
    --borda-escura: #2A2A2A;


    /* =========================
       ELEMENTOS ESPECIAIS
    ========================= */

    --preto: #111111;
    --branco: #F2F2F2;
}


*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}


header{
    position: sticky;
}

.logo{
    padding: 20px;
    font-size: large;
    font-weight: 900;
}

nav{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
    
}


nav ul {
    display: flex;
    list-style: none;
    gap: 30px;

}

nav ul a{
    color: rgb(85, 80, 80);
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

#nav-input{ 
    justify-content: right;
}

#div-nav{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 100px;
}

#banner{
    background-image: url(imageprinciap.png);
    height: 300px;
    width: 100%;
    display: block;
    align-items: center;
}

body{
    background-color: hsl(0, 1%, 48%);
}

dialog::backdrop{
    background-color: #000000b4;
    
}

dialog{
    margin: auto;

    padding: 25px;

    background-color: var(--div);
    color: var(--texto-claro);

    border-radius: 10px;
    border: 5px solid var(--vermelho);
}

#dialog-button-container{
    display: flex;
    gap: 5px;
    justify-content: end;
    margin-top: 20px;
    margin-bottom: 5pxpx;
}


#botao-edicao-container{
    display: flex;
    gap: 5px;
    justify-content: end;
    margin-top: 20px;
    margin-bottom: 5pxpx;
}
 .botao-categoria-container{
    display: flex;
    gap: 5px;
    justify-content: end;
    margin-top: 20px;
    margin-bottom: 5pxpx;
}

.cancelar{
    background-color: var(--vermelho-hover);
}
.salvar{
    background-color: #30c975;
}

button{
    border-radius: 3px;
    padding: 3px;
    margin: 5px;
}

select{
    padding: 3px;
    border-radius: 4px;
}


.produto-classe{
    border: inset;
    border-radius: 8px;

    margin: 15px;

    padding: 25px;

    background-color: var(--div);
    color: var(--texto-claro);

    border-radius: 10px;
    border: 5px solid var(--vermelho);

    width: 300px;
}



#container-produto{
    display: flex;
    padding: 10px;
    
}

#cadastros{
    display: flex;
}

#categoria-div{
    padding: 20px;
}

#remover-adicionar{
    display: flex;
    padding: 15px;

    justify-content: right;
}